.page_div {
    max-width: 1200px;
    /* margin: auto; */
    width: 90vw;
  }

  .tile_list {
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.link_list{
  list-style: none;
}

.tile_link {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Roboto Condensed",Roboto,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    outline: 0;
    color: #1b9af0;
    border: none;
	cursor: pointer;
    outline: inherit;
    background: none;
}

.tile_stack {
  display: flex;
  flex-direction: row;
}

.view_image {
  max-height: 200px;
}
